.pure-u-1
  .l-box
    +breadcrumbs_from(bcList)

    h1.capitalize= title

  .pure-g-r.search
    .pure-u-1-2
      .l-box
        p.intro-copy
          span.highlight TODO
          | -
          |  This is introduction text and is not intended to be read. This is introduction text and is not intended to be read. This is introduction text and is not intended to be read. This is introduction text and is not intended to be read. This is introduction text and is not intended to be read.
    .pure-u-1-2
      .l-box
        img.intro-icon(src="/images/search/search-icon-large.png", alt="search for company information")

.pure-u-1
  .l-box
    form#search-form.pure-form(action="#{searchURL}", method="get")
      div.search-box
        fieldset
          h3= searchTitle
          //- if !formations
          //-   .pure-g-r
          //-     .pure-u-1
          //-       a(id="uk-info-search", href="#", class="search-highlight") United Kingdom
          //-       span.divider  |
          //-       a(id="int-info-search", href="#")  International
          .pure-g-r
            .pure-u-14-24
              input(id='search-term', type='text', value='', placeholder='enter a company name', name="term")
            .pure-u-5-24
              if formations
                select(id="company-suffix", name="suffix", autocomplete="off")
                  each companySuffix in ["LIMITED", "PLC", "LLP"]
                    option(value=companySuffix selected=suffix == companySuffix) #{companySuffix}

              if !formations
                select(name="country", id="country-selector", autofocus="autofocus", autocorrect="off", autocomplete="off", placeholder="type a country")
                  each countryOption in countries
                    != countryOption
            .pure-u-5-24
              input.pure-button.pure-button-secondary(id='search-submit', type='submit', value='#{searchButton}')
