extends ../index
block main
  .pure-u-1
    .l-box
      +breadcrumbs_from(bcList)

      if (results)
        h1.capitalize.reduced-bottom-margin= title
      else
        if (!term)
          h1.reduced-bottom-margin Please enter a valid search term and try again.
        if (error)
          h1= "Error ["+error.code[0]+"]: "+error.description[0]
        a#back-to-search.rm-blue(href="javascript:window.history.back()") BACK TO SEARCH

      if results
        .pure-g-r
          .pure-u-20-24#num-search-results
              | #{results.length -1} results for
              | 
              span.rm-blue '#{term}'
          //- .pure-u-4-24#back-to-search
          //-   a.rm-blue(href="javascript:window.history.back()") BACK TO SEARCH

        //- the first row is meta data not a company :/
        if results.length > 1
          table.search-results.pure-table
            thead
              tr
                th Company Name
                th.pure-hidden-phone Registered Office
                th Reg No.

            tbody
              each company, index in results
                if index > 0

                  tr(class=index % 2 == 0  ? "" : "pure-table-odd")
                    td.company-name.capitalize
                      a(href="/companies/#{company.company}")= String(company.name).toLowerCase()
                    td.capitalize.pure-hidden-phone
                      = String(company.addressline1).toLowerCase()
                      br
                      = String(company.addressline2).toLowerCase()
                      br
                      = String(company.addressline3).toLowerCase()
                    td= company.company
