mixin reportsAndDocumentsBox(name, checkoutName, guid, description, price, date, vendor, company_id, country, requestType, documentId, encryptedId, pages)
  - var sep = ""
  - var lastClass = ""
  .pure-u-1-3
    .l-box
      .report-box.simpleCart_shelfItem
        .pure-g
          .pure-u-19-24
            .l-box
              .report-name
                p= name
              .checkout-name.item_name.hidden
                h4= checkoutName
              .item_rmid.hidden= guid
              .item_vendor.hidden= vendor
              .item_company_id.hidden= company_id
              .item_country.hidden= country
              .item_request_type.hidden= requestType
              .item_document_id.hidden= documentId
              .item_encrypted_id.hidden= encryptedId
              .item_pages.hidden= pages
          .pure-u-5-24
            img.pdf(src="/images/reports/pdf.png", alt="PDF")
          .pure-u-1
            .l-box
              if date
                p #{date}
              p= description
              br
              .pure-g
                .pure-u-9-24
                  .report-price.item_price £#{price}
                  input(type="hidden" value="1" class="item_Quantity")
                .pure-u-15-24
                  if vendor.toLowerCase() != "ex"
                    a(id="#{guid}").pure-button.pure-button-primary.item_add ADD TO CART
                if vendor.toLowerCase() == "ex"
                  .pure-u-1
                    - experianURL = "https://secure.smebusinesscheck.co.uk/?aff=RMOL&promotion=RMOL&type=business&businessname="+company.name
                    a(id="#{guid}", href=experianURL, target="_blank", data="").pure-button.pure-button-primary.experian-clickthru
                      | BUY FROM EXPERIAN


