mixin contact(area, name, phone, email, introCopy)
  .pure-g-r
    .pure-u-11-24
      .l-box
        .contact-thumbnail
    .pure-u-13-24
      .l-box
        h3 #{area}
        h4.grey-font #{name}
        p
          label Telephone
          br
          | #{phone}
          br
          label Email
          br
          a(href="mailto:#{email}?subject=RM Online: contact from website&body=Hi #{name}....") #{email}
    .pure-u-1
      .l-box
        p #{introCopy}
