extends ../index

block main
  .pure-u-1
    +breadcrumbs_from(bcList)

    h1= company.name || "Error ["+error.code+"]: "+error.description

    .pure-g-r
      if company
        .pure-u-1
          #responsiveTabs
            ul
              li
                h3: a(href="#details") Details
              li
                h3: a(href="#reports") Reports
              li
                h3: a(href="#documents") Documents

            #details
              .pure-g-r
                .pure-u-1-4
                  .l-box
                    .company-data
                      p Registered Number
                      span#cro_number| #{company.cro_number}

                    .company-data
                      p Registered Office
                      address
                        | #{company.ro_address[0].line_one}
                        | <br/> #{company.ro_address[0].line_two}
                        | <br/> #{company.ro_address[0].line_three}

                        if String(company.ro_address[0].line_four).trim() != String(company.ro_address[0].postcode).trim()
                          | <br/> #{company.ro_address[0].line_four}

                        | <br/> #{company.ro_address[0].postcode}

                .pure-u-1-4
                  .l-box
                    .company-data
                      p Company Type
                      | #{company.company_type_description}

                    .company-data
                      p Incorporated
                      | #{company.incorporation_date}

                    .company-data
                      p Status
                      | #{company.company_status}
                .pure-u-1-4
                  .l-box
                    .company-data
                      p Latest Accounts
                      | #{company.acc_made_up_date}
                    .company-data
                      p Latest Annual Return
                      | #{company.ret_made_up_date}
                    .company-data
                      p Accounts Type
                      | #{company.accounts_type}
                .pure-u-1-4
                  .l-box.no-border
                    .company-data
                      p Last document filed
                      p Previous names
            #reports
              .pure-g-r
                each val in ["Experian", "D&B", "Jordans", "Equifax", "Mossack Fonseca", "Companies House" ]
                  .pure-u-1-3
                    .report-box.hover-shadow
                      a(href="/companies/"+company.cro_number+"/view/"+slug(val))
                        h4= val
                        .report-one Report 1
                        .report-two Report 2
                        .report-three Report 3
            #documents
              .pure-g-r
                each val in ["Experian", "D&B", "Jordans", "Equifax", "Mossack Fonseca", "Companies House" ]
                  .pure-u-1-3
                    .report-box.hover-shadow
                      a(href="/companies/"+company.cro_number+"/view/"+slug(val))
                        h4= val
                        .report-one Document 1
                        .report-two Document 2
                        .report-three Document 3
    br
    br
    br
    br
    br
    br
    br