extends ../index
include ../mixins/m-contact

block main
  .pure-u-1
    .l-box
      +breadcrumbs_from(bcList)
      h1 #{title}

      article.pure-u-1
        google-map(latitude="#{countryShow.lat}", longitude="#{countryShow.lon}" zoom="7")
          //- google-map-marker(latitude="{country.lat}", longitude="#{country.lon}" title="#{title}")

        each intro_p in countryShow.intro
          p #{intro_p}

        if countryShow.features
          h3 Features
          ul.features
            each feature in countryShow.features
              li #{feature}

        if countryShow.highlights
          h3 Highlights
          ul.highlights
            each highlight in countryShow.highlights
              li #{highlight}

        if countryShow.uses
          h3 Uses
          ul.uses
            each use in countryShow.uses
              li #{use}

        if countryShow.social
          h3 Social and Economic Indicators
          ul.uses
            each social in countryShow.social
              li #{social}

        if countryShow.guidelines
          h3 Guidelines
          each guideline in countryShow.guidelines
            p #{guideline}

  include _jurisdictions-table
